.main {
    min-height: 75vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--ternary-color);
    border: 5px solid;
    border-radius: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 35px;
    font-size: 40px;
    
  }